.Carousel {
  position: absolute;
  width: 100%;
  height: auto;
  background: blue;
  overflow: hidden;
}
.Carousel .Carousel-Slide {
  left: 0;
  position: relative;
  background: grey;
  height: auto;
  transition: left 1s linear;
}
.Carousel .Carousel-Slide .Carousel-Slide-item {
  height: auto%;
  float: left;
}
.Carousel-Controller,
.Carousel-Controller-Nav {
  box-sizing: border-box;
  height: auto;
  left: 0;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: 50%;
}
.Carousel-Controller .Carousel-Controller-Nav-right,
.Carousel-Controller-Nav .Carousel-Controller-Nav-right {
  float: right;
}
[class^=Carousel-Controller-Nav-] {
  color: white;
  cursor: pointer;
  width: auto;
  float: left;
  font-size: 30px;
  height: 100%;
}
[class^=Carousel-Controller-Nav-]:hover {
  color: #000;
}
#completed {
  display: none;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  color: white;
  letter-spacing: 1px;
}
